/* Write your CSS here - remember to add Id's or classes to the HTML file */
h1{
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 100px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
header {
    background-image: url(./img/Records.jpg);
}
h2 {
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #ef8354;
    color: #ffffff;
}
.cyan-background {
    background-color: #0e7c7b;
}
.purple-background {
    background-color: #9c538b;
}
img {
    width: 500px;
}
h3 {
    color: #ffffff;
}
p {
    color: #ffffff;
    font-family: 'Segoe UI', Verdana, sans-serif;
}
#bold {
    font-weight: bold;
}
  a {
    color: #ef8354;
  }
  a:hover {
    color: #9c528b;
  }
body {
    background-color: #000000;
}